<h1>Pinteresting Blog Page</h1>
	
		<center>This page will include updates and progress on my 
		<a href="http://onemonthrails.com">One Month Rails </a>class</center>

	<div class="jumbotron">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://img0.etsystatic.com/058/0/7081676/il_570xN.744945130_lvs9.jpg" alt="...">
      <div class="caption">
        <h3>T3 Designs Co. Invite</h3>
        <p>Click to go to view on our Website or Etsy Store</p>
        <p><a href="http://www.t3designs.com" class="btn btn-primary" role="button">Website</a> <a href="https://www.etsy.com/shop/T3DesignsCo" class="btn btn-default" role="button">Etsy</a></p>
      </div>
    </div>
  </div>
</div>
	</div>



